body {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

input,
textarea {
  font-size: medium;
}

input[type="text"] {
  width: 200px;
}

textarea {
  width: 200px;
  height: 100px;
}

input[type="submit"] {
  border: 0;
  background-color: DodgerBlue;
  color: white;
  padding: 10px;
}

th {
  background-color: DodgerBlue;
  color: white;
}

div.pagination {
  padding: 10px;
  text-align: center;
  font-size: large;
}

div.pagination a {
  padding: 5px;
  color: black;
}

.active {
  font-weight: bold;
  text-decoration: none;
  color: DodgerBlue !important;
}
